/* Esto siempre debe ir al inicio de la hoja de estilos de css asi se resetea el tamaño de todas las cajas de todos  los elementos HTML que tenga en el documento para que no empiesen desde el content box sino desde el border */
/* Articulo de Paul Irish sobre la poropiedad box-sizing */
/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
    /* Esto es para que el tamaño de la caja empiese a contar desde border y no desde content box */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* -------------------------------------------------------------------------------------- */

body {
    margin: 0;
}

h1 {
    color: yellow;
    background-color: black;
    text-align: center;
    font-family: sans-serif;
}

h2 {
    color: brown;
    background-color: rgb(129, 200, 218);
    text-align: center;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}


/* -------------------------Estilos de Fuentes---------------------------- */

.font {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    font-style: oblique;
    font-variant: small-caps;
    line-height: 2;
    font: italic small-caps bold 24px / 1.5 monospace; /* font es el shorthand o propiedad 
    abreviada para font-style font-variant font-weight font-size line-height y font-family. 
    OJO: entre font-size y line-height hay que poner una linea deiagonal "/" sino, no
    funciona.
    */
}


/* --------Como cargar fuentes (o tipografias) externas (@font-face & font-display)----- */


/* Tipografia 1 con nombre Chalet */
@font-face {
    font-family: "Chalet"; /* Definimos el nombre que queremos darle a la familia tipografica */
    src: url("../assets/Chalet.woff")format("woff");
    font-display: swap;
    /* Si tenemos mas de un archivo tipografico lo podemos expresar así:
    src: url("../assets/Chalet.woff")format("woff"), 
         url(../assets/Chalet.woff2),format("woff2"); */
}

/* Aplicamos la tipografia Chalet de arriba a la clase .chalet */
.chalet {
    font-family: "Chalet", sans-serif; /* Sino encuentra la fuente Chalet, entonces que aplique la fuente sans-serif */
    font-size: 2rem;
}


/* Tipografia 2 con nombre Pecita */
@font-face {
    font-family: "Pecita";
    src: url("../assets/Pecita.woff")format("woff");
    font-display: swap;
}

/* Aplicamos la tipografia Pecita de arriba a la clase .pecita */
.pecita {
    font-family: "Pecita", cursive; /* Sino encuentra la fuente Pecita, entonces que aplique la fuente cursive */
    font-size: 2rem;
}


/* ------------------------------------Google Fonts--------------------------------------- */

.raleway {
    font-family: 'Raleway', sans-serif; /* Funte tipografica Raleway */
    font-size: 2rem;
}


/* ----------------------------------Estilos de Texto------------------------------------ */

/* ---------------text-aling------------- */
.text {
    font-size: 1.5rem;
    text-align: justify;
}

/* ---------------text-decoration------------- */

.text-decoration {
    font-size: 1.5rem;
    text-align: justify;
    text-decoration: underline;
}

/* ---------------text-indent------------- */
.text-indent {
    font-size: 1.5rem;
    text-align: left;
    text-indent: 5rem;
}

/* ---------------text-overflow------------- */
.text-overflow {
    background-color: blanchedalmond;
    border: thin solid black;
    padding: 1rem;
    width: 50%;
    text-align: left;
    font-size: 1.5rem;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* ---------------text-transform------------- */
.text-transform {
    font-size: 1.5rem;
    text-align: left;
    text-transform: capitalize;
    text-transform: lowercase;
    text-transform: uppercase;
    text-transform: none;
}

/* ---------------letter-spacing------------- */
.letter-spacing {
    font-size: 1.5rem;
    text-align: left;
    letter-spacing: .5rem;
}

/* ---------------white-space------------- */
.white-space {
    font-size: 1.5rem;
    text-align: left;
    white-space: pre;
}

/* ---------------word-spacing------------- */
.word-spacing {
    font-size: 1.5rem;
    text-align: left;
    word-spacing: 1rem;
}

/* ---------------writing-mode------------- */
.writing-mode {
    font-size: 1.5rem;
    text-align: left;
    writing-mode: horizontal-tb;
    writing-mode: vertical-lr;
    writing-mode: vertical-rl;
}


/* -----------------------------Iconos tipográficos vectoriales-------------------------- */

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}





