/* Esto siempre debe ir al inicio de la hoja de estilos de css asi se resetea el tamaño de todas las cajas de todos  los elementos HTML que tenga en el documento para que no empiesen desde el content box sino desde el border */
/* Articulo de Paul Irish sobre la poropiedad box-sizing */
/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box; /* Esto es para que el tamaño de la caja empiese a contar desde border y no desde content box */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* -------------------------------------------------------------------------------------- */

body {
    margin: 0;
}

h1 {
    color: yellow;
    background-color: black;
    text-align: center;
    font-family: sans-serif;
}

h2 {
    color: brown;
    background-color: rgb(129, 200, 218);
    text-align: center;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

code {
    background-color: #e4e4e4;
}

/* -------------------------------------------------------------------------------------- */


/* ----------------------------------Imagenes responsive--------------------------------- */

/* Esto siempre debe ir para el reseteo de los estilos de las imagenes */
img {
    max-width: 100%; /* La propiedad max-width significa que se le da la maxima anchura */
    height: auto;
}


/* -------------------------------Imágenes con tamaños especificos----------------------- */

.card {
    margin-left: auto;
    margin-right: auto;
    border: medium solid black;
    width: 400px;
    height: 400px;
    text-align: center;
    text-transform: uppercase;
}

.card img {
    background-color: blanchedalmond;
    height: 300px;
    object-fit: fill;
    object-fit: cover; /* Despues de usar la propiedad object-fit hay que utlizar obligatoriamente la propiedad object-position */
    object-position: 50% 50%;
    object-position: left top;
    object-fit: contain;
    object-position: 50% 50%;
}

