/* Esto siempre debe ir al inicio de la hoja de estilos de css asi se resetea el tamaño de todas las cajas de todos  los elementos HTML que tenga en el documento para que no empiesen desde el content box sino desde el border */
/* Articulo de Paul Irish sobre la poropiedad box-sizing */
/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box; /* Esto es para que el tamaño de la caja empiese a contar desde border y no desde content box */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* -------------------------------------------------------------------------------------- */

body {
    margin: 0;
}

h1 {
    color: yellow;
    background-color: black;
    text-align: center;
    font-family: sans-serif;
}

h2 {
    color: brown;
    background-color: rgb(129, 200, 218);
    text-align: center;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}


/* ------------------------------------Pixeles---------------------------------------- */

.pixels {
    background-color: cadetblue;
    width: 500px;
    height: 400px;
    padding: 20px;
    font-size: 20px;
    border: thick solid rebeccapurple;
}


/* -----------------------------------Unidades EMs--------------------------------------- */

.ems {
    background-color: cadetblue;
    font-size: 24px; /* 1em = 16px */
    padding: 1em .5em;
    border: thick solid rebeccapurple;
}

.em-child {
    background-color: salmon;
    border: thick solid beige;
    margin: 0.5em;
    padding: 1em;
    font-size: 2em;/* Toma como referencia el tamaño de fuente del elemento padre .ems que es 24px */
}

/* ------------------------------Unidades REMs (Root em)--------------------------------- */

.rems {
    background-color: cadetblue;
    font-size: 24px;
    padding: 1rem .5rem;
    border: thick solid rebeccapurple;
}

.rem-child {
    background-color: salmon;
    border: thick solid beige;
    margin: 0.5rem;
    padding: 1rem;
    font-size: 2rem;
    /* Toma como referencia el tamaño de fuente del elemento padre .ems que es 24px */
}

/* ------------------------------Unidades EXs----------------------------------- */












