/* Esto siempre debe ir al inicio de la hoja de estilos de css asi se resetea el tamaño de todas las cajas de todos  los elementos HTML que tenga en el documento para que no empiesen desde el content box sino desde el border */
/* Articulo de Paul Irish sobre la poropiedad box-sizing */
/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box; /* Esto es para que el tamaño de la caja empiese a contar desde border y no desde content box */
    font-family: sans-serif;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* -------------------------------------------------------------------------------------- */

body {
    margin: 0;
}

h1 {
    color: yellow;
    background-color: black;
    text-align: center;
    font-family: sans-serif;
}

h2 {
    color: brown;
    background-color: rgb(129, 200, 218);
    text-align: center;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

code {
    background-color: #e4e4e4;
}

/* Esto siempre debe ir para el reseteo de los estilos de las imagenes */
img {
    max-width: 100%;
    /* La propiedad max-width significa que se le da la maxima anchura */
    height: auto;
}


/* -------------------------------Efectos de Sombras------------------------------------- */

.box {
    /* Para que se centre en la mitad de la pantalla del navegador */
    margin-left: auto;
    margin-right: auto;
    /* -------------------------------------------------------------- */
    margin-bottom: 5rem;
    border: thick solid #000;
    width: 200px;
    height: 200px;
}

/* -------------------------------Sombra a la caja------------------------------------- */
.shadows1 {
    /*valores propiedad box-sahdow: mov-x mov-y blur-radius spread-blur color inset/outset*/
    box-shadow: 1rem 1rem 1rem 1rem navy;
    box-shadow: -1rem -1rem 1rem 1rem navy;
    box-shadow: 1rem 1rem 1rem 1rem #0005;
    box-shadow: 1rem 1rem 1rem 1rem #f00; 
    box-shadow: 1rem 1rem 2rem .5rem #0007;/* El valor pordefecto de las sombras es outset */
}

/* -------------------------------Sombra al texto------------------------------------- */
.shadows2 {
    /*valores propiedad text-sahdow: mov-x mov-y blur-radius color*/
    text-shadow: -1rem -1rem 0.4rem hotpink;
    font-size: 2rem;
    text-align: center;
}

/* -------------------------------Sombras multiples------------------------------------- */
.shadows-multiple {
    /* Sombaras a la caja */
    box-shadow: 1rem 1rem 1rem 1rem #0005, 1rem 1rem 1rem 1rem #f00 inset, 
        -.5rem -.5rem 0.5rem 2rem hotpink ;
    /* Sombras al texto */
    text-shadow: -1rem -1rem 0.4rem navy, 1rem 1rem 0.4rem greenyellow;
    font-size: 2rem;
    text-align: center;
    
}

/* -------------------------------Filtro de sombras (drop-shadow)----------------------- */

.drop-shadow {
    width: 600px;
    height: auto;
}

.drop-shadow img {
    /* filter: drop-shadow(mov-x mov-y blur-radius color); */
    filter: drop-shadow(1rem 1rem 1rem steelblue);
    box-shadow: 1rem 1rem 1rem 1rem #f00;
}


/* -------------------------------Degradados (gradients) en CSS----------------------- */

/* -----------------------------------Degradados líneales-------------------------------- */

.linear-gradient {
    background-image: linear-gradient(0deg,red, green, blue);
    background-image: linear-gradient(20deg, red, green, blue);
    background-image: linear-gradient(45deg, red, green, blue);
    background-image: linear-gradient(90deg, red, green, blue); /* deg para grados de */
    background-image: linear-gradient(to right, red, green, blue);/* to right palabra clave */
    background-image: linear-gradient(to top, red, green, blue);
    background-image: linear-gradient(to bottom, red, green, blue);
    background-image: linear-gradient(to top left, red, green, blue);
    background-image: linear-gradient(to bottom left, red, green, blue);
    background-image: linear-gradient(90deg,red 30%, green 60%, blue);
    /*Bandera de Colombia */
    background-image: linear-gradient(180deg, yellow 50%, blue 51% 75%, red 76%);
}

/* -----------------------------------Degradados radiales-------------------------------- */

.radial-gradient {
    background-image: radial-gradient(cyan, magenta);
    background-image: radial-gradient(cyan, magenta, yellow);
    background-image: radial-gradient(circle 4rem,cyan 30%, magenta 80%, yellow);
    background-image: radial-gradient(circle 100px, cyan 30%, magenta 60%, yellow 90%);
    background-image: radial-gradient(circle 100px at top, cyan 30%, magenta 60%, yellow 90%);
    background-image: radial-gradient(circle 100px at bottom, cyan 30%, magenta 60%, yellow 90%);
    background-image: radial-gradient(circle 100px at left, cyan 30%, magenta 60%, yellow 90%);
    background-image: radial-gradient(circle 100px at top left, cyan 30%, magenta 60%, yellow 90%);
    background-image: radial-gradient(circle 100px at top right, cyan 30%, magenta 60%, yellow 90%);
    /* Degradado radial en forma de elipse */
    background-image: radial-gradient(ellipse 50px 100px, cyan 30%, magenta 60%, yellow 90%);
    /* bandera de japon */
    background-image: radial-gradient(circle 100px, red 50%, white 50%);
}

/* -----------------------------------Degradados conicos-------------------------------- */

.conic-gradient {
    background-image: conic-gradient(red, green);
    background-image: conic-gradient(red, green, blue);
    background-image: conic-gradient(red 0% 50%, green 60%, blue 80%);
    background-image: conic-gradient(red 0deg 90deg, green 120deg 240deg, blue 270deg);
    background-image: conic-gradient(from 90deg,red 0deg 90deg, green 120deg 240deg, blue 270deg);
    /* Bandera de republica checa */
    background-image: conic-gradient(from 90deg ,red 0deg 120deg, white 120deg 240deg, blue 240deg);
}


/* -----------------------------------Repetir degradados-------------------------------- */

/* -----------------------------------repeat-gradient-linear------------------------------ */

/* A 0° grados */
.repeat-gradient-linear {
    background-image: repeating-linear-gradient(red 0 10px, green 10px 20px, blue 20px 30px);
}

/* A 90° grados */
.repeat-gradient-linear {
    background-image: repeating-linear-gradient(90deg,red 0 10px, green 10px 20px, blue 20px 30px);
}

/* -----------------------------------repeat-gradient-radial----------------------------- */

.repeat-gradient-radial {
    background-image: repeating-radial-gradient(circle 4rem, cyan 0 10px, magenta 10px 20px, yellow 20px 30px);
}

/* -----------------------------------repeat-gradient-conic----------------------------- */

.repeat-gradient-conic {
    background-image: repeating-conic-gradient(red 0 8%, yellow 8% 16%, black 16% 24%);
}


/* -----------------------------------graficas-con-degradados----------------------------- */

/* Grafico de pastel o circular*/
.chart-gradient {
    background-image: conic-gradient(cyan 0 50%, magenta 50% 80%, yellow 80%);
    border-radius: 50%;
}

/* Grafica en forma de dona */
.donut-gradient {
    background-image: radial-gradient(white 30%, black 31%, transparent 33%), conic-gradient(cyan 0 50%, magenta 50% 80%, yellow 80%);
    border-radius: 50%;
}


/* ---------------------------------Filtros (filter)-------------------------------- */

.card {
    /* Para que se centre en la mitad de la pantalla del navegador */
    margin-left: auto;
    margin-right: auto;
    /* -------------------------------------------------------------- */
    margin-bottom: 5rem;
    border: thick solid #000;
    width: 600px;
    height: 400px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
}

.filter {
    /* Filtros */
    /* filter: blur(0.15rem);

    filter: brightness(.75);
    filter: brightness(4);

    filter: contrast(0);
    filter: contrast(4);

    filter: grayscale(0);
    filter: grayscale(0.5);
    filter: grayscale(1);

    filter: sepia(0);
    filter: sepia(1);

    filter: hue-rotate(0deg);
    filter: hue-rotate(30deg);
    filter: hue-rotate(60deg);
    filter: hue-rotate(120deg);

    filter: invert(0);
    filter: invert(1);

    filter: opacity(0);
    filter: opacity(0.25);
    filter: opacity(1);

    filter: saturate(0);
    filter: saturate(0.5);
    filter: saturate(0.75);
    filter: saturate(1);
    filter: saturate(4);
    filter: drop-shadow(1rem 1rem 1rem steelblue); */
    filter: invert(1);
}


/* ---------------------------Filtros múltiples a un mismo elemento---------------------- */

.filters-multiple {
    filter: blur(0.1rem) hue-rotate(270deg) opacity(0.75) invert(1);
}


/* ---------------------------Filtros a fondos (backdrop-filter)------------------------- */

.relative {
    position: relative;
}

.backdrop-filter,
.backdrop-filter-multiple {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    /* Aplicamos flexbox */
    display: flex;
    justify-content: center; /* Centra en el eje Principal que es el Horizontal (eje X) */
    align-items: center; /* Centra en el eje Vertical (eje Y) */
    text-align: center;
}

.backdrop-filter h4 {
    border-radius: 1rem;
    padding: 2rem;
    font-size: 3rem;
    color: #000;
    background-color: rgba(255, 102, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: grayscale(1);
    backdrop-filter: sepia(1);
    backdrop-filter: opacity(.25);
    backdrop-filter: hue-rotate(180deg);
    backdrop-filter: blur(.5rem);
}


/* -----------------------------Filtros multiples a fondos------------------------------ */

.backdrop-filter-multiple h4 {
    border-radius: 1rem;
    padding: 2rem;
    font-size: 3rem;
    color: #fff;
    background-color: rgba(255, 102, 255, 0.5);
    backdrop-filter: blur(1rem) hue-rotate(240deg) opacity(.75) invert(1);
}


/* -----------------------------Modo Dark/Light con filtros------------------------------ */

/* Para aplicar los dos estilos que siguen a continuación hay que poner en la etiquita html del documento visual-effects.html la clase dark-mode */

.dark-mode {
    background-color: #fff; /* Es importante definir el color de fondo en blanco */
    color: #000; /* Es importante definir el color de la letra en negro */
    filter: invert(1);
}

.dark-mode img {
    filter: invert(1); /* Invierte el filtro solo a las imagnes */
}


/* -------------------Modos de Mezcla sobre imagenes (mix-blend-mode)-------------------- */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
}

/* para que aplique los estilos sobre las imagenes que estan dentro de la clase card */
.blend-modes img{
    /* mix-blend-mode: normal;
    mix-blend-mode: color;
    mix-blend-mode: color-burn;
    mix-blend-mode: screen;
    mix-blend-mode: multiply;
    mix-blend-mode: saturation;
    mix-blend-mode: luminosity;
    mix-blend-mode: hue;
    mix-blend-mode: exclusion;
    mix-blend-mode: difference;
    mix-blend-mode: hard-light;
    mix-blend-mode: soft-light;
    mix-blend-mode: lighten;
    mix-blend-mode: overlay; */
    mix-blend-mode: darken;
}


/* ------------Modos de Mezcla sobre imagenes de fondos (background-blend-mode)----------- */

.bg-blend-modes {
    background-image: url("../assets/puesta-sol.jpg"), url("../assets/BuenosDias.jpg");
    background-size: cover;

   /*  background-blend-mode: normal;
    background-blend-mode: color; */
    background-blend-mode: darken;
}


/* ----------------------------------Máscaras (clip-path)-------------------------------- */

/* circle */
.clip-path-circle {
    /* clip-path: circle(2rem);
    clip-path: circle(100px);
    clip-path: circle(100px at top);
    clip-path: circle(100px at left);
    clip-path: circle(100px at right);
    clip-path: circle(100px at bottom); */
    clip-path: circle(100px at 20% 60%);
}

/* elipse */
.clip-path-ellipse {
    margin-top: 50px;
    /* clip-path: ellipse(1rem 2rem);
    clip-path: ellipse(100px 50px);
    clip-path: ellipse(100px 50px at left);
    clip-path: ellipse(100px 50px at right);
    clip-path: ellipse(100px 50px at bottom);
    clip-path: ellipse(100px 50px at right top); */
    clip-path: ellipse(100px 50px at 18% 60%);
}

/* inset */
.clip-path-inset {
    margin-top: 50px;
    /* clip-path: inset(2rem);
    clip-path: inset(4rem); */
    clip-path: inset(1rem round 1rem); /* Redondea esquinas de la mascara */
    /* clip-path: inset(1rem round 1rem 2rem);
    clip-path: inset(1rem round 1rem 2rem 3rem); */
    clip-path: inset(1rem round 1rem 2rem 3rem 4rem);
}

/* pligonos */
.clip-path-polygon {
    /* clip-path: polygon(0 0, 100% 0, 50% 100%); */
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}


/* ----------------------------------Formas (shape-outside)------------------------------ */

.shapes {
    border: thick solid black;
    padding: 1rem;
    margin: 0 auto 5rem;
    max-width: 800px;
}

.shapes h3 {
    text-align: center;
    text-transform: uppercase;
}

.shapes img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 0 50%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.shape-1 {
    margin: 4rem 2rem 4rem 0;
    shape-outside: circle();
}

.shape-2 {
    margin: 4rem 0 4rem 2rem;
    shape-outside: ellipse();
}

.shape-3 {
    margin: 2rem 8rem 0 0;
    shape-outside: polygon(1% 19%, 25% 4%, 52% 4%, 59% 16%, 69% 37%, 66% 53%, 63% 67%, 72% 77%, 83% 84%, 98% 99%, 1% 99%);
}



